// Игнорируем папку backend, так как она написана для Node.js,
// а линтер настроен на браузерное окружение.
backend/


// Игнорируем файлы микро-фреймворка elmish и основной логики todo-app.
// Они используют глобальные переменные и конструкции (require, module.exports),
// которые недоступны в браузере, но необходимы для работы приложения.
public/lib/elmish.js
public/lib/todo-app.js
